<form [formGroup]="formGroup" novalidate="novalidate">
  <div class="modal-content" data-backdrop="false">
    <div class="modal-header">
      <h5 class="modal-title font-weight-bold">
        {{'change_password.title' | translate}} {{userDto.login}}
      </h5>

      <button type="button" class="btn-close me-1 p-1" data-dismiss="modal" aria-label="Close" (click)="exit()"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="alert alert-danger"  *ngIf="errorMsg && errorMsg.length > 0">
          <div *ngFor="let msg of errorMsg">
            <span>- {{msg}}</span>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="control-label field-font pb-1" for="oldPassword">
            {{'change_password.oldPassword' | translate}}<span class="text-danger">(*)</span></label>
          <input type="password" id="oldPassword" class="form-control"  formControlName="oldPassword">
          <app-form-validation [form]="formGroup"
                               [field]="'oldPassword'"
                               [message]="'field_control.check_oldPassword'"></app-form-validation>
        </div>

        <div class="form-group mb-3">
          <label class="control-label field-font pb-1" for="newPassword">
            {{'change_password.newPassword' | translate}}<span class="text-danger">(*)</span></label>
          <input type="password" id="newPassword" class="form-control"  formControlName="newPassword">
          <app-form-validation [form]="formGroup"
                               [field]="'newPassword'"
                               [minlength]="true"
                               [maxlength]="true"
                               [messageMinlength]="'field_control.check_min_password'"
                               [messageMaxlength]="'field_control.check_max_password'"
                               [message]="'field_control.check_newPassword'"></app-form-validation>
        </div>
        <div class="form-group mb-3">
          <label class="control-label field-font pb-1" for="confirmPassword">
            {{'change_password.confirmPassword' | translate}}</label>
          <input type="password" id="confirmPassword" class="form-control"  formControlName="confirmPassword">
          <app-form-validation [form]="formGroup"
                               [field]="'confirmPassword'"
                               [message]="'field_control.check_confirmPassword'"></app-form-validation>
        </div>



      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-secondary" type="reset" data-dismiss="modal" (click)="exit()">
        <em class="bi bi-stop-circle"></em>&nbsp;
        {{'button.cancel' | translate}}
      </button>
      <button class="btn btn-sm button-color" [disabled]="isSaving || formGroup.invalid" type="submit" (click)="changePassword()">
        <em class="bi bi-save"></em>&nbsp;
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
</form>

