<div class="card mb-4">
  <div class="card-header">
    <div class="float-start">
      <h3 class="font-weight-bold mt-1 ms-2">Service</h3>
    </div>

  </div>

  <div class="card-body ">
    <div class="row mx-auto">
      <div *ngIf="account?.typeServiceUtilisateur == 'GAZ' || account?.typeServiceUtilisateur == 'GAZ_MEAL'" (click)="moveToGazDashBoard()" class="col-md-3 card text-center text-white font-weight-bold mx-3 p-5 " style="background: #b06835">GAS</div>
      <div *ngIf="account?.typeServiceUtilisateur == 'MEAL' || account?.typeServiceUtilisateur == 'GAZ_MEAL'" (click)="moveToMEALDashBoard()" class="col-md-3 card text-center text-white font-weight-bold mx-3 p-5" style="background: #0095ff">MEAL</div>
    </div>

  </div>

</div>

