<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{'user.reset_password.title_message' | translate}} {{userDto.login}}</h5>
    <button type="button" class="btn-close me-1 p-1" data-dismiss="modal" aria-label="Close" (click)="exit()"></button>

  </div>
  <div class="modal-body">{{'user.reset_password.select_message' | translate}}
    <br/> <b>{{'user.reset_password.password_user_init' | translate}}</b></div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="exit()" type="reset">{{'button.cancel' | translate}}</button>
    <button class="btn button-color" [disabled]="isConfirm" (click)="confirmResetPassword()" type="submit">{{'button.reset_password' | translate}}</button>
  </div>
</div>
