.custom-card {
  height: 170px; /* Augmentez la hauteur selon vos besoins */
  /* Ajoutez d'autres styles personnalisés pour ajuster la hauteur et l'apparence */
}
.custom-card2 {
  height: 400px; /* Augmentez la hauteur selon vos besoins */
  /* Ajoutez d'autres styles personnalisés pour ajuster la hauteur et l'apparence */
}
.custom-number {
  font-size: 50px; /* Ajustez la taille du chiffre selon vos besoins */
}
.custom-icon {
  width: 50px; /* Ajustez la largeur de l'icône selon vos besoins */
  height: 50px; /* Ajustez la hauteur de l'icône selon vos besoins */
  font-size: 48px;
  color: #5b8c53;
}
.custom-icon1 {
  width: 50px; /* Ajustez la largeur de l'icône selon vos besoins */
  height: 50px; /* Ajustez la hauteur de l'icône selon vos besoins */
  font-size: 48px;
  color: #5b8c53;
}
.custom-icon2 {
  width: 50px; /* Ajustez la largeur de l'icône selon vos besoins */
  height: 50px; /* Ajustez la hauteur de l'icône selon vos besoins */
  font-size: 48px;
  color: #5b8c53;
}
.custom-icon3 {
  width: 50px; /* Ajustez la largeur de l'icône selon vos besoins */
  height: 50px; /* Ajustez la hauteur de l'icône selon vos besoins */
  font-size: 48px;
  color: #5b8c53;
}
.custom-icon4{
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #5b8c53;
  margin-left: 17px;
}
.custom-text {
  font-size: 23px; /* Ajustez la taille du texte selon vos besoins */
}

.custom-row {
  margin-bottom: 20px; /* Ajustez la marge inférieure selon vos besoins */
  margin-top: 40px;
  //margin-left: 15px;
}
.custom-searh {
  font-size: 20px;
}
//#chartTimeline{
//  //background-color: #1b5833;
//}
.timeline-chart{
  //background-color: aquamarine;
}


