/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff !important;
  //color: #444444;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.custom-timer-progress-bar .swal2-progress-bar {
  background-color: white !important;
}

.pointer {
  cursor: pointer;
}

.credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}
