<div class="container">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="card mb-3">

            <div class="card-body">

              <div class="d-flex justify-content-center py-4">

                <!-- <a href="javascript:" class="logo d-flex align-items-center w-auto">
                  <img src="{{logo_care_cameroun}}" alt="logo_care_cameroon">
                </a> -->
              </div><!-- End Logo -->

              <div class="mb-5">
                <h5 class="card-title text-center pb-0 fs-4">Login into your account</h5>
              </div>

              <router-outlet></router-outlet>

            </div>
          </div>

          <div class="credits">
            Powered by <a href="https://skysoft.cm/" target="_blank">SKYSOFT TECHNOLOGY</a>
          </div>

        </div>
      </div>
    </div>

  </section>

</div>
